// colors
$blue: #274472;

* {
  scroll-behavior: smooth;
}

:not(.img-container a) {
  transition: all 0.5s ease-in-out;
  &:focus {
    color: white;
    background: $blue;
  }
}

:not(.img-container) a {
  transition: all 0.5s ease-in-out;
  &:hover {
    color: white;
    background: $blue;
  }
}

body {
  background: white;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.img-container {
  a {
    outline: none;
  }
  img {
    width: 100%;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: unset;
  padding: 3px;
}

button {
  border: none;
  border-radius: 10px;
  background: lightgrey;
  cursor: pointer;

  &:hover,
  &:active {
    background: grey;
  }
}
