// colors
$blue: #274472;

* {
  background: white;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  color: unset;
}

button {
  border: none;
  border-radius: 10px;
  background: lightgrey;
  cursor: pointer;

  &:hover,
  &:active {
    background: grey;
  }
}

@mixin highlight {

  transition: all 0.5s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    color: white;
    background: $blue;
  }
}