header {
  height: 100vh;
  display: flex;
  align-items: center;

  .wrapper {
    height: 50%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  h1 {
    // align h1 text with smaller navigation text
    margin-left: 9vw;
    width: max-content;

    @include highlight;
    cursor: pointer;
  }

  ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
  }

  a {
    text-decoration: none;
    color: unset;
    padding: 3px;

    @include highlight;
  }
}
