/* 
fonts used:
- Raleway
- Roboto
*/

html {
  font: 62.5% "Raleway", sans-serif;
}

.monospace {
  font-family: monospace;
}

* {
  font-size: 1.8rem;
}

h1 {
  font-size: 6.4rem;
}

h2 {
  font-size: 3.2rem;
}

p {
  font-family: "Roboto";
}
